.Rproj.user
.Rhistory
.RData
.Ruserdata
current-conditions-pipeline.Rproj
.Renviron
.vscode
.DS_Store

# Gw conditions viz
gw_ci/1_fetch/out/*
gw_ci/2_process/out/*
gw_ci/1_fetch/in/*


# Ignore the contents of the output folder
gw_ci/3_visualize/out/*

# But don't ignore the .empty file
!gw_ci/3_visualize/out/\\.empty

# Ignore the targets metadata folder
gw_ci/_targets/

# Gw conditions viz
sf_ci/api_key.txt
sf_ci/sf_dates.json
sf_ci/.pixi
sf_ci/.env
sf_ci/.snakemake
sf_ci/config/sf_file_metadata.csv
sf_ci/data/*
!sf_ci/data/.empty
sf_ci/metadata/*
!sf_ci/metadata/.empty
sf_ci/images/*
!sf_ci/images/.empty
!sf_ci/images/_legend
sf_ci/images/_legend/*
!sf_ci/images/_legend/.empty
sf_ci/videos/*
!sf_ci/videos/.empty
sf_ci/temp/*
!sf_ci/temp/.empty
sf_ci/sf_conditions/__pycache__
sf_ci/sf_conditions/fetch/__pycache__
sf_ci/sf_conditions/plot/__pycache__
